<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>save.html</h2>
  <form action="/member/save" method="post">
    이메일: <input type="text" name="memberEmail" id="memberEmail"> <br>
    비밀번호: <input type="text" name="memberEmail" id="memberPassword"> <br>
    아이디: <input type="text" name="memberEmail" id="memberId"> <br>
    전화번호: <input type="text" name="memberEmail" id="memberTel"> <br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>