<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>살려줘</title>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>아이디</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.memberNo}">회원번호</td>
                <td th:text="${member.memberName}">회원이름</td>
                <td th:text="${member.memberEmail}">회원이메일</td>
                <td th:text="${member.memberTel}">회원전화번호</td>
                <td th:text="${member.memberId}">회원아이디</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>